# Welkom bij de onderzoeks pipeline voor het vak Data Science.
----

### Dit onderzoek is opgezet door groep 6 van klas V2C:
- Sebastiaan Jansen
- Mustafa Toprak
- Skott de Koster

#### Dit data onderzoek is gebaseerd op de dataset over films. Het bevat een aantal onderzoeksvragen die wij zullen behandelen:
- In hoeverre is de omzet van een film te voorspellen op basis van de populariteit op Facebook en IMDB zelf?
- Tot hoeverre variëren  de genres van de films waarin een acteur speelt verspreid over zijn/haar carrière?
- Hoeveel effect heeft de lengte van een trailer op de omzet van de film?
- Is een film succesvoller op basis van het aantal likes die een acteur (of acteurs) heeft/hebben op facebook?
- Welke regisseurs boeken de meeste winst?
- Wat is de totale winst van alle films per jaar?
 
Deze vragen zullen allemaal worden behandeld in dit onderzoek.

## Stap 1: Data collection

De dataset is aan ons gegeven door de Hogeschool Utrecht als onderdeel van de opdracht. Deze dataset houd een groot csv bestand in met onder andere de film titel, genre en een paar belangrijke acteurs. We hebben dus nu de data verzameld en moeten het nu inlezen.

---

## Stap 2: Data processing

We gaan nu de dataset inlezen en verwerken om het beter te kunnen bekijken. Om te beginnen importeren we de benodigde Python libraries:

In [15]:
# Deze libraries zijn voor het verwerken van de data.
import numpy as np
import pandas as pd

# Deze libraries zijn voor het verkrijgen van YouTube video gegevens, dit komt later aan bod.
import pafy
import youtube_dl
import datetime

Vervolgens lezen we de eerste (interne) dataset in. Hiervoor gebruiken we pandas.read_csv en slaan we dit op in de dataframe "films". 
Aangezien de dataset erg groot is, laten we voor nu alleen de eerste en laatste paar rijen zien. Dit doen we door "films" aan te roepen:

In [16]:
films = pd.read_csv('movie.csv', sep=",")
films

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5038,Color,Scott Smith,1.0,87.0,2.0,318.0,Daphne Zuniga,637.0,NaN,Comedy|Drama,...,6.0,English,Canada,NaN,NaN,2013.0,470.0,7.7,NaN,84
5039,Color,NaN,43.0,43.0,NaN,319.0,Valorie Curry,841.0,NaN,Crime|Drama|Mystery|Thriller,...,359.0,English,USA,TV-14,NaN,NaN,593.0,7.5,16.00,32000
5040,Color,Benjamin Roberds,13.0,76.0,0.0,0.0,Maxwell Moody,0.0,NaN,Drama|Horror|Thriller,...,3.0,English,USA,NaN,1400.0,2013.0,0.0,6.3,NaN,16
5041,Color,Daniel Hsia,14.0,100.0,0.0,489.0,Daniel Henney,946.0,10443.0,Comedy|Drama|Romance,...,9.0,English,USA,PG-13,NaN,2012.0,719.0,6.3,2.35,660
5042,Color,Jon Gunn,43.0,90.0,16.0,16.0,Brian Herzlinger,86.0,85222.0,Documentary,...,84.0,English,USA,PG,1100.0,2004.0,23.0,6.6,1.85,456

Hetzelfde doen we met de tweede (externe) dataset:

In [17]:
films2 = pd.read_csv('ml-youtube.csv', sep=",")
films2

         youtubeId  movieId                                              title
0      K26_sDKnvMU        1                                   Toy Story (1995)
1      3LPANjHlPxo        2                                     Jumanji (1995)
2      rEnOoWs3FuA        3                            Grumpier Old Men (1995)
3      j9xml1CxgXI        4                           Waiting to Exhale (1995)
4      ltwvKLnj1B4        5                 Father of the Bride Part II (1995)
...            ...      ...                                                ...
25618  -oB6DN5dYWo   131252  Forklift Driver Klaus: The First Day on the Jo...
25619  DK7KQ-gEdl4   131256                      Feuer, Eis & Dosenbier (2002)
25620  v29P-wchMZQ   131258                                 The Pirates (2014)
25621  dAz-nZ65jYU   131260                                Rentun Ruusu (2001)
25622  YWmbl_7VVYk   131262                                   Innocence (2014)

[25623 rows x 3 columns]

We zien dus dat de eerste dataset bestaat uit 5043 films, dit moeten we nu combineren met de tweede dataset. Maar de tweede dataset heeft veel meer rows en een iets andere vorm van filmtitel. Dit moeten we dus oplossen, en ook de andere problemen zoals de NaN en duplicate waarden.

---

# Stap 3: Data cleaning

We gaan nu de data schoon maken. Om te beginnen schonen we de eerste dataset op door alle data die niet relevant is te verwijderen:

In [18]:
to_drop = ['color','facenumber_in_poster','country','aspect_ratio','language','content_rating','plot_keywords']

films.drop(to_drop, inplace=True, axis=1)

films2.drop('movieId', inplace=True, axis=1)

In [19]:
# We verwijderen de rijen met NaN gegevens in beide datasets, aangezien dit data is die we niet kunnen gebruiken.
films = films.dropna()
films2 = films2.dropna()

In [20]:
# We halen alle duplicates eruit.
films.drop_duplicates(subset="movie_title")
films2.drop_duplicates(subset="title")

         youtubeId                                              title
0      K26_sDKnvMU                                   Toy Story (1995)
1      3LPANjHlPxo                                     Jumanji (1995)
2      rEnOoWs3FuA                            Grumpier Old Men (1995)
3      j9xml1CxgXI                           Waiting to Exhale (1995)
4      ltwvKLnj1B4                 Father of the Bride Part II (1995)
...            ...                                                ...
25618  -oB6DN5dYWo  Forklift Driver Klaus: The First Day on the Jo...
25619  DK7KQ-gEdl4                      Feuer, Eis & Dosenbier (2002)
25620  v29P-wchMZQ                                 The Pirates (2014)
25621  dAz-nZ65jYU                                Rentun Ruusu (2001)
25622  YWmbl_7VVYk                                   Innocence (2014)

[25607 rows x 2 columns]

In [21]:
# We slicen de laatste 7 characters van de title column (het jaar dat de film uitkwam) in de tweede dataset weg,
# zodat de column overeen komt met de column in de eerste dataset.
films.update(films['movie_title'].str[:-1])
films2.update(films2['title'].str[:-7])

In [22]:
# We setten de indexes van beide datasets naar de titel van de films.
films.set_index('movie_title', inplace=True)
films2.set_index('title', inplace=True)

In [23]:
films.index = films.index.map(str)
films2.index = films2.index.map(str)

In [24]:
# We sorteren beide datasets zodat de waardes gelijk zullen zijn.
films = films.sort_index()
films2 = films2.sort_index()

Nu ziet de eerste dataset er zo uit:

In [25]:
films

,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,actor_1_name,num_voted_users,cast_total_facebook_likes,actor_3_name,movie_imdb_link,num_user_for_reviews,budget,title_year,actor_2_facebook_likes,imdb_score,movie_facebook_likes
movie_title,,,,,,,,,,,,,,,,,,,,
10 Cloverfield Lane,Dan Trachtenberg,411.0,104.0,16.0,82.0,John Gallagher Jr.,14000.0,71897215.0,Drama|Horror|Mystery|Sci-Fi|Thriller,Bradley Cooper,126893,14504,Sumalee Montano,http://www.imdb.com/title/tt1179933/?ref_=fn_t...,440.0,15000000.0,2016.0,338.0,7.3,33000
10 Days in a Madhouse,Timothy Hines,1.0,111.0,0.0,247.0,Kelly LeBrock,1000.0,14616.0,Drama,Christopher Lambert,314,2059,Alexandra Callas,http://www.imdb.com/title/tt3453052/?ref_=fn_t...,10.0,12000000.0,2015.0,445.0,7.5,26000
10 Things I Hate About You,Gil Junger,133.0,97.0,19.0,835.0,Heath Ledger,23000.0,38176108.0,Comedy|Drama|Romance,Joseph Gordon-Levitt,222099,37907,Andrew Keegan,http://www.imdb.com/title/tt0147800/?ref_=fn_t...,549.0,16000000.0,1999.0,13000.0,7.2,10000
102 Dalmatians,Kevin Lima,84.0,100.0,36.0,439.0,Eric Idle,2000.0,66941559.0,Adventure|Comedy|Family,Ioan Gruffudd,26413,4182,Jim Carter,http://www.imdb.com/title/tt0211181/?ref_=fn_t...,77.0,85000000.0,2000.0,795.0,4.8,372
10th & Wolf,Robert Moresco,26.0,107.0,53.0,463.0,Brad Renfro,954.0,53481.0,Crime|Drama|Thriller,Brian Dennehy,5557,2512,Dash Mihok,http://www.imdb.com/title/tt0360323/?ref_=fn_t...,34.0,8000000.0,2006.0,551.0,6.4,294
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
[Rec] 2,Jaume Balagueró,222.0,85.0,57.0,6.0,Pablo Rosso,37.0,27024.0,Horror,Jonathan D. Mellor,55597,73,Andrea Ros,http://www.imdb.com/title/tt1245112/?ref_=fn_t...,148.0,5600000.0,2009.0,9.0,6.6,4000
eXistenZ,David Cronenberg,196.0,115.0,0.0,716.0,Sarah Polley,1000.0,2840417.0,Horror|Sci-Fi|Thriller,Jennifer Jason Leigh,77493,2990,Callum Rennie,http://www.imdb.com/title/tt0120907/?ref_=fn_t...,527.0,31000000.0,1999.0,900.0,6.8,6000
xXx,Rob Cohen,191.0,132.0,357.0,212.0,Eve,14000.0,141204016.0,Action|Adventure|Thriller,Vin Diesel,142569,14790,Leila Arcieri,http://www.imdb.com/title/tt0295701/?ref_=fn_t...,737.0,70000000.0,2002.0,223.0,5.8,10000
xXx: State of the Union,Lee Tamahori,77.0,101.0,93.0,218.0,Nona Gaye,287.0,26082914.0,Action|Adventure|Crime|Thriller,Sunny Mabrey,51349,993,Xzibit,http://www.imdb.com/title/tt0329774/?ref_=fn_t...,213.0,87000000.0,2005.0,233.0,4.3,0
Æon Flux,Karyn Kusama,178.0,93.0,45.0,352.0,Sophie Okonedo,9000.0,25857987.0,Action|Sci-Fi,Charlize Theron,110614,10185,Paterson Joseph,http://www.imdb.com/title/tt0402022/?ref_=fn_t...,532.0,62000000.0,2005.0,460.0,5.5,0

En ziet de tweede dataset er zo uit:

In [26]:
films2

                                                      youtubeId
title
"Great Performances" Cats                           fpIzXaJS18s
#chicagoGirl: The Social Network Takes on a Dic...  Dq31M_MUtU4
$ (Dollars)                                         yDLMPb9rspo
$5 a Day                                            DsC3fxNTyno
$9.99                                               Ls4t_y6lTUo
...                                                         ...
¡Three Amigos!                                      WUTl8DSYUQA
À l'aventure                                        7kXP7YFM5Gw
À nos amours                                        z_gcsG4-5vw
À nous la liberté (Freedom for Us)                  6PZkEo6xnGc
Åsa-Nisse - Wälkom to Knohult                       knxZ4bco9XE

[25623 rows x 1 columns]

Nu gaan we beide datasets samenvoegen. Het idee is om de youtubeId column van de tweede dataset te verwerken in de eerste dataset.

In [27]:
films = pd.merge(films, films2, left_index=True, right_index=True)
films

,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,actor_1_name,...,cast_total_facebook_likes,actor_3_name,movie_imdb_link,num_user_for_reviews,budget,title_year,actor_2_facebook_likes,imdb_score,movie_facebook_likes,youtubeId
10 Things I Hate About You,Gil Junger,133.0,97.0,19.0,835.0,Heath Ledger,23000.0,38176108.0,Comedy|Drama|Romance,Joseph Gordon-Levitt,...,37907,Andrew Keegan,http://www.imdb.com/title/tt0147800/?ref_=fn_t...,549.0,16000000.0,1999.0,13000.0,7.2,10000,wRo7iUQMcTM
102 Dalmatians,Kevin Lima,84.0,100.0,36.0,439.0,Eric Idle,2000.0,66941559.0,Adventure|Comedy|Family,Ioan Gruffudd,...,4182,Jim Carter,http://www.imdb.com/title/tt0211181/?ref_=fn_t...,77.0,85000000.0,2000.0,795.0,4.8,372,cGHh59Oj8eU
10th & Wolf,Robert Moresco,26.0,107.0,53.0,463.0,Brad Renfro,954.0,53481.0,Crime|Drama|Thriller,Brian Dennehy,...,2512,Dash Mihok,http://www.imdb.com/title/tt0360323/?ref_=fn_t...,34.0,8000000.0,2006.0,551.0,6.4,294,12wdi73Kbxk
12 Rounds,Renny Harlin,113.0,108.0,212.0,347.0,Ashley Scott,969.0,12232937.0,Action|Crime|Thriller,Taylor Cole,...,2799,Nick Gomez,http://www.imdb.com/title/tt1160368/?ref_=fn_t...,113.0,22000000.0,2009.0,794.0,5.6,0,Mp3Aqe8FrNE
12 Years a Slave,Steve McQueen,597.0,134.0,0.0,500.0,Scoot McNairy,2000.0,56667870.0,Biography|Drama|History,Quvenzhané Wallis,...,4251,Taran Killam,http://www.imdb.com/title/tt2024544/?ref_=fn_t...,695.0,20000000.0,2013.0,660.0,8.1,83000,v2fDTOdWuQQ
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Zoolander,Ben Stiller,135.0,90.0,0.0,8000.0,Alexander Skarsgård,14000.0,45162741.0,Comedy,Milla Jovovich,...,34565,Will Ferrell,http://www.imdb.com/title/tt0196229/?ref_=fn_t...,523.0,28000000.0,2001.0,10000.0,6.6,0,t1krvnjzV4w
Zoom,Peter Hewitt,63.0,83.0,12.0,690.0,Rip Torn,2000.0,11631245.0,Action|Adventure|Family|Sci-Fi,Kevin Zegers,...,5022,Thomas F. Wilson,http://www.imdb.com/title/tt0383060/?ref_=fn_t...,113.0,35000000.0,2006.0,826.0,4.2,494,5y7q5b3WyEc
eXistenZ,David Cronenberg,196.0,115.0,0.0,716.0,Sarah Polley,1000.0,2840417.0,Horror|Sci-Fi|Thriller,Jennifer Jason Leigh,...,2990,Callum Rennie,http://www.imdb.com/title/tt0120907/?ref_=fn_t...,527.0,31000000.0,1999.0,900.0,6.8,6000,IEuykd38iNE
xXx,Rob Cohen,191.0,132.0,357.0,212.0,Eve,14000.0,141204016.0,Action|Adventure|Thriller,Vin Diesel,...,14790,Leila Arcieri,http://www.imdb.com/title/tt0295701/?ref_=fn_t...,737.0,70000000.0,2002.0,223.0,5.8,10000,Spx-Mx3xhYY
xXx: State of the Union,Lee Tamahori,77.0,101.0,93.0,218.0,Nona Gaye,287.0,26082914.0,Action|Adventure|Crime|Thriller,Sunny Mabrey,...,993,Xzibit,http://www.imdb.com/title/tt0329774/?ref_=fn_t...,213.0,87000000.0,2005.0,233.0,4.3,0,TS8Pl4tsJGQ

Je kunt zien dat er nu nog minder films zijn. Dit is omdat de films die zijn weggehaald geen trailer hebben, en dus niet bruikbaar zijn. <br>
We gaan de gemergede dataset nu verkennen en analyseren.